<a href="" class="book__logo">
    <img src={{cover}} alt="">
    <div class="logo__hover">READ</div>
</a>
<div class="book__description">
    <a href={{url}} class="description__title">{{title}}</a>
    <a href={{authorUrl}} class="description__author">{{author}}</a>
    <p class="description__level">{{level}}</p>
    <p class="description__text">{{info}}</p>
</div>
